/* Google Fonts


    font-family: 'Lobster', cursive;

    font-family: 'Acme', sans-serif;

    font-family: 'Exo', sans-serif;

    font-family: 'Righteous', cursive;

*/

/* Reset */
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6 
{
    margin:0;
    padding:0;
    }

body{
    background-color: cornflowerblue;
}

div#container{
    width:100%;
    border:3px solid #dee5f4;
    background-color:#e3daf1;
}

header{
    width:93.4%;
    padding:32px;
    background-color:white;
    
}
header img#slimysnail{
    display: block;
    margin:auto;
    width:150px;
}
div#content img#Eyeball{
    display: block;
    padding: 15;
    width: 100px;
}
div#content img#eyeballbackground{
    display: block;
    padding: 15px;
    width: 100px;
}
div#content img#shoppageeyeball{
    display:block;
    padding: 15px;
    width: 100px; 
}
div#content img#slimy-shop-sticker{
    display:block;
    padding: 15px;
    width: 150px;
}
div#content img#new-eyeball{
    display: block;
    padding: 15px;
    width: 100px;
}
div#content img#new-ogeyeball{
    display: block;
    padding: 15px;
    width: 100px;
}
div#content img#new-slimysnail{
    display: block;
    padding: 15px;
    width: 150px;
}

header h1{
    font-family: 'Lobster', cursive;
    text-align:center;
    font-size:55px;
    color:darkblue;
}

div#content{
    width:100%;
    background-color: #e3daf1;
    font-family:"neon80s", monospace;
    font-size: 30px;
    color:white;
    
}
/*
nav{
    background-color:#b9e4f1;
    color:ghostwhite; 
    font-family: "neon80s", monospace;
    font-size: 25px;
    
    
}

nav ul{
    list-style: none;
}
nav ul li a{
    float:left; 
    padding:5px 93.7px;
    border-right: 1px inset #fff;
    color:ghostwhite;
    text-decoration:none;
    display: block;
    
}

nav ul li a:hover{
    font-weight:900;
}
*/
.icon-bar {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color: #95cff6;
    overflow: auto;
}
.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 30px;
}
.icon-bar a:hover {
    color:#dee5f4;
}
.active {
    background-color: #a8d7f6;
}
/*css search bar style*/

#mySearch {
    width:100%;
    font-size: 20px;
    padding: 11px;
    border: 1px solid white;
    font-family: 'neon 80s', monospace;
    color: darkblue; 
}
/* navigation menu style search*/
#myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* navigation links search bar*/
#myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: #f1f6ff;
    display: block;
}
#myMenu li a:hover{
    color:#fff;
}

/*
footer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    background-color:darkblue;
    font-family: "neon80s", monospace;
    color:aliceblue;
    font-size: 25px
}
div.keepOpen{
    clear: both;
}

@media screen and (max-width: 600px){
    div#container{
        width:100%;
    }
    nav ul li a{
        float:none;
        text-align: center;
    }
}*/

div#item_grp{
    width:auto;
    margin: auto;
}
figure.item{
    float:left;
    width:100px;
}

figure.item img#eyeballbackground{
    display:block;
    border:2px white solid;
}
figure.item img#shoppageeyeball{
    display:block;
    border: 2px white solid;
}
figure.item img#slimy-shop-sticker{
    display: block;
    border: 2px white solid;
}
figure.item img#new-eyeball{
    display: block;
    border: 2px white solid;
}
figure.item img#new-ogeyeball{
    display: block;
    border: 2px white solid;
}
figure.item img#new-slimysnail{
    display: block;
    border: 2px white solid;
}
figure.item img#search-slimysnail{
    display: block;
    border: 2px white solid;
}
figure.item figcaption{
    color: white;
    font-size: 15px;
    text-align: center;
}
@media screen and (max-width: 600px) {
    figure.item{
        float:none;
        margin:10px auto;
        min-width: 50%;
        max-width:100%;
        border-radius: 5%;
    }
    figure.item figcaption{
        text-align: center;
        color:white;
        font-family:'Lobster', cursive;
        font-size: 15px;
    }
    legend, span, input, textarea{
        display: block;
        margin: auto;
        text-align: center;
        font-family: 'neon 80s', monospace;
        color: white;
        border: 2px solid white; 
    }
}
