/* Google Fonts


    font-family: 'Lobster', cursive;

    font-family: 'Acme', sans-serif;

    font-family: 'Exo', sans-serif;

    font-family: 'Righteous', cursive;

*/

/* Reset */
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6 
{
    margin:0;
    padding:0;
    }

body{
    background-color: cornflowerblue;
}

div#container{
    width:100%;
    
    border:3px solid #dee5f4;
    background-color:#e3daf1;
}

header{
    width:93.4%;
    padding:40px;
    background-color:white;
    
}

header h1{
    font-family: 'Lobster', cursive;
    font-size:55px;
    color:darkblue;
    margin-left:375px; 
    
}

div#content{
    width:100%;
    background-color: #e3daf1;
    font-family:"neon80s", monospace;
    font-size: 30px;
    color:white;
}
/*
nav{
    background-color:#b9e4f1;
    color:ghostwhite; 
    font-family: "neon80s", monospace;
    font-size: 25px;
    
    
}

nav ul{
    list-style: none;
}
nav ul li a{
    float:left; 
    padding:5px 93.7px;
    border-right: 1px inset #fff;
    color:ghostwhite;
    text-decoration:none;
    display: block;
    
}

nav ul li a:hover{
    font-weight:900;
}
*/
.icon-bar {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-color: #95cff6;
    overflow: auto;
}
.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 30px;
}
.icon-bar a:hover {
    color:#dee5f4;
}
.active {
    background-color: #a8d7f6;
}

/*
footer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    background-color:darkblue;
    font-family: "neon80s", monospace;
    color:aliceblue;
    font-size: 25px
}
div.keepOpen{
    clear: both;
}

@media screen and (max-width: 600px){
    div#container{
        width:100%;
    }
    nav ul li a{
        float:none;
        text-align: center;
    }
}*/
